@page "/addcategory"
@using UseCases.UseCaseInterfaces;

@inject NavigationManager NavigationManager
@inject IAddCategoryUseCase AddCategoryUseCase

<h3>Edit Category</h3>

@if (category != null)
{
	<EditForm Model="category" OnValidSubmit="OnValidSubmit">
		<DataAnnotationsValidator></DataAnnotationsValidator>

		<!--General validation msgs displayed up here-->
		<ValidationSummary></ValidationSummary>

		<div class="form-group">
			<label for="name">Name</label>
			<InputText id="name" @bind-Value="category.Name" class="form-control"></InputText>
		</div>

		<div class="form-group">
			<label for="name">Description</label>
			<InputText id="name" @bind-Value="category.Description" class="form-control"></InputText>
		</div>

		<button type="submit" class="btn btn-primary">Save</button>
		<button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>
	</EditForm>
}

@code {
	//Values defined in EditForm
	private Category category;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		category = new Category();
	}

	private void OnValidSubmit()
	{
		AddCategoryUseCase.Execute(category);
		NavigationManager.NavigateTo("/categories");
	}

	private void OnCancel()
	{
		NavigationManager.NavigateTo("/categories");
	}
}
